<h1>Команди</h1>
<br>


<table class = "table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Назва</th>
      <th>Мiсто</th>
      <th>Рiк</th>
      <th>Колiр</th>
      <th>Бюджет</th>
      <th>Спонсор</th>
      <th><%= link_to "Додати запис", new_team_path, :class =>'btn btn-success btn-sm'%></th>
    </tr>
  </thead>
<% Team.all.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.city.name %></td>
    <td><%= team.year %></td>
    <td><%= team.color %></td>
    <td><%= team.budget %> mln</td>
    <td><%= team.sponsor.name %></td>
    <td width = "200px"><%= link_to "Редагувати", edit_team_path(team.id), :class =>'btn btn-warning btn-sm'%>
      <%= link_to "Видалити", team_path(team.id), method: :delete, data:{confirm: "Видалити команду?"}, :class =>'btn btn-danger btn-sm'%></td>
  </tr>
<% end %>

</table>