<h2>Додати запис</h2>
<br>

<% if @city.errors.any? %>
  <% @city.errors.messages.each do |msg| %>
    <div class="allert alert-danger"><%= msg.last.last.html_safe %></div>
  <% end %>
<% end %>
<br>


<%= form_for :city, url: city_path(@city), method: :patch do |f| %>

  <p>
    Назва<br>
    <%= f.text_field :name, {:class => 'form-control'} %>
  </p>

  <p>
    Штат<br>
    <%= f.text_field :state, {:class => 'form-control'} %>
  </p>

  <p>
    Краiна<br>
    <%= f.text_field :country, {:class => 'form-control'} %>
  </p>

  <p>
    Часовий пояс<br>
    <%= f.text_field :timezone, {:class => 'form-control'} %>
  </p>

  <p>
    Поштовий iндекс<br>
    <%= f.text_field :postcode, {:class => 'form-control'} %>
  </p>

  <p>
    <%= f.submit("Зберегти",{:class => 'btn btn-success '}) %>
  </p>
<%end %>

